<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IDiscoveryService1">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiated" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true"/>
                        <localServiceSettings detectReplays="true"/>
                    </security>
                    <textMessageEncoding/>
                    <httpTransport/>
                </binding>
                <binding name="CustomBinding_IDiscoveryService3">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiatedOverTransport" requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="CustomBinding_IDiscoveryService11">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiatedOverTransport" requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="CustomBinding_IDiscoveryService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
                        <issuedTokenParameters keySize="256">
                            <additionalRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                                    <trust:KeySize xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">256</trust:KeySize>
                                    <trust:Claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity" xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                        <wsid:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn" xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity"/>
                                    </trust:Claims>
                                    <trust:KeyWrapAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
                                    <trust:EncryptWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptWith>
                                    <trust:SignWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2000/09/xmldsig#hmac-sha1</trust:SignWith>
                                    <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </additionalRequestParameters>
                            <issuer address="https://sts.hteronet.ba/adfs/services/trust/2005/certificatemixed" binding="wsHttpBinding" bindingConfiguration="https://sts.hteronet.ba/adfs/services/trust/2005/certificatemixed"/>
                            <issuerMetadata address="https://sts.hteronet.ba/adfs/services/trust/mex"/>
                        </issuedTokenParameters>
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/2005/issuedtokenmixedasymmetricbasic256">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keyType="AsymmetricKey">
                            <additionalRequestParameters>
                                <t:EncryptWith xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</t:EncryptWith>
                                <t:SignatureAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2000/09/xmldsig#rsa-sha1</t:SignatureAlgorithm>
                                <t:CanonicalizationAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/10/xml-exc-c14n#</t:CanonicalizationAlgorithm>
                                <t:EncryptionAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#aes256-cbc</t:EncryptionAlgorithm>
                            </additionalRequestParameters>
                        </issuedTokenParameters>
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/2005/issuedtokenmixedsymmetricbasic256">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <issuedTokenParameters keySize="256">
                            <additionalRequestParameters>
                                <t:EncryptWith xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#aes256-cbc</t:EncryptWith>
                                <t:SignatureAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2000/09/xmldsig#hmac-sha1</t:SignatureAlgorithm>
                                <t:CanonicalizationAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/10/xml-exc-c14n#</t:CanonicalizationAlgorithm>
                                <t:EncryptionAlgorithm xmlns:t="http://schemas.xmlsoap.org/ws/2005/02/trust">http://www.w3.org/2001/04/xmlenc#aes256-cbc</t:EncryptionAlgorithm>
                            </additionalRequestParameters>
                        </issuedTokenParameters>
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/13/issuedtokenmixedasymmetricbasic256">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
                        <issuedTokenParameters keyType="AsymmetricKey">
                            <additionalRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/PublicKey</trust:KeyType>
                                    <trust:KeyWrapAlgorithm>http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
                                    <trust:EncryptWith>http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:EncryptWith>
                                    <trust:SignatureAlgorithm>http://www.w3.org/2000/09/xmldsig#rsa-sha1</trust:SignatureAlgorithm>
                                    <trust:CanonicalizationAlgorithm>http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm>http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </additionalRequestParameters>
                        </issuedTokenParameters>
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/13/issuedtokenmixedsymmetricbasic256">
                    <security defaultAlgorithmSuite="Default" authenticationMode="IssuedTokenOverTransport" requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10">
                        <issuedTokenParameters keySize="256">
                            <additionalRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                                    <trust:KeySize>256</trust:KeySize>
                                    <trust:KeyWrapAlgorithm>http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
                                    <trust:EncryptWith>http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptWith>
                                    <trust:SignatureAlgorithm>http://www.w3.org/2000/09/xmldsig#hmac-sha1</trust:SignatureAlgorithm>
                                    <trust:CanonicalizationAlgorithm>http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                                    <trust:EncryptionAlgorithm>http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
                                </trust:SecondaryParameters>
                            </additionalRequestParameters>
                        </issuedTokenParameters>
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="CustomBinding_IOrganizationService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiated" requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="true"/>
                        <localServiceSettings detectReplays="true"/>
                    </security>
                    <textMessageEncoding/>
                    <httpTransport/>
                </binding>
                <binding name="CustomBinding_IOrganizationService3">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiatedOverTransport" requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" requireSignatureConfirmation="false">
                        <localClientSettings detectReplays="false"/>
                        <localServiceSettings detectReplays="false"/>
                    </security>
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="CustomBinding_IDiscoveryService2">
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
                <binding name="CustomBinding_IOrganizationService1">
                    <textMessageEncoding/>
                    <httpsTransport/>
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/2005/certificatemixed">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"/>
                        <message clientCredentialType="Certificate" establishSecurityContext="false"/>
                    </security>
                </binding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/2005/usernamemixed">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"/>
                        <message clientCredentialType="UserName" establishSecurityContext="false"/>
                    </security>
                </binding>
            </wsHttpBinding>
            <ws2007HttpBinding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/13/certificatemixed">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"/>
                        <message clientCredentialType="Certificate" establishSecurityContext="false"/>
                    </security>
                </binding>
                <binding name="https://sts.hteronet.ba/adfs/services/trust/13/usernamemixed">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None"/>
                        <message clientCredentialType="UserName" establishSecurityContext="false"/>
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <!--<endpoint address="http://crm2016t.intra.eronet.ba/HTEronet/XRMServices/2011/Discovery.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IDiscoveryService1"
                contract="DiscoveryAD.IDiscoveryService" name="CustomBinding_IDiscoveryService1">
                <identity>
                    <userPrincipalName value="SERVICECRM@intra.eronet.ba" />
                </identity>
            </endpoint>
            <endpoint address="http://crm2016t.intra.eronet.ba/HTEronet/XRMServices/2011/Discovery.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IDiscoveryService3"
                contract="DiscoveryADhttps.IDiscoveryService" name="CustomBinding_IDiscoveryService3">
                <identity>
                    <userPrincipalName value="SERVICECRM@intra.eronet.ba" />
                </identity>
            </endpoint>
            <endpoint address="https://crm.hteronet.ba/XRMServices/2011/Discovery.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IDiscoveryService"
                contract="DiscoveryADFS.IDiscoveryService" name="CustomBinding_IDiscoveryService" />
            <endpoint address="http://10.107.32.55:5555/CRMDEV2016/XRMServices/2011/Organization.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IOrganizationService"
                contract="Organization_82_AD.IOrganizationService" name="CustomBinding_IOrganizationService">
                <identity>
                    <userPrincipalName value="DEVCRMAPP@rwehr.local" />
                </identity>
            </endpoint>-->
            <endpoint address="https://disco.crm4.dynamics.com/XRMServices/2011/Discovery.svc" binding="customBinding" bindingConfiguration="CustomBinding_IDiscoveryService2" contract="Discovery_92_Online.IDiscoveryService" name="CustomBinding_IDiscoveryService2"/>
            <endpoint address="https://nil.api.crm4.dynamics.com/XRMServices/2011/Organization.svc" binding="customBinding" bindingConfiguration="CustomBinding_IOrganizationService" contract="Organization_91_Online.IOrganizationService" name="CustomBinding_IOrganizationService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
